* {
  margin: 0;
  padding: 0;
}
html, body {
  font-family: sans-serif;
  scroll-behavior: smooth;
}
section {
  width: 100vw;
}
.half {
  width: 50vw;
}
.block {
  display: block;
}
.none {
  display: none;
}