phone-x {
  position: fixed;
  right: 20px;
  bottom: 80px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: var(--z-phone);
}
phone-x a svg {
  width: 50px;
  height: 50px;
}

phone-x a {
  color: var(--color-theme);
  font-size: 1.4rem;
  line-height: 3rem;
}


@media (max-width: 1200px) {

}