button-x {
    display: inline;
    color: var(--white);
    border-radius: var(--radius);
    padding: var(--padding) calc(var(--padding) * 3);
    background: var(--color-theme);
    margin: var(--margin);
    font-size: 1.5rem;
    border: 1px solid rgba(0,0,0,0);
    user-select: none;
}

button-x:active {
    background: var(--white);
    color: var(--color-theme);
}

button-x.active-x,
button-x:hover {
    background: var(--white);
    color: var(--color-theme);
    border: 1px solid var(--color-theme);
    cursor: pointer;
}


@media (max-width: 1200px) {

}