dropdown-x {
  position: relative;
  padding-left: 15px;
  display: block;
  user-select: none;
}

dropdown-x::before {
  content: "";
  position: absolute;
  left: -2px;
  top: 7.5px;
  width: 5px;
  height: 5px;
  border: 1px solid var(--color-theme);
  border-radius: 50%;
  background-color: var(--color-theme);
}

dropdown-x.open-x::before {
  background: rgba(0,0,0,0);
} 

dropdown-x head-x {
  display: block;
  font-size: 1rem;
  font-weight: 400;
}

dropdown-x item-x {
  display: block;
  padding-left: var(--padding);
  margin-left: -12.5px;
  border-left: 1px solid var(--color-theme);
  animation: fadeIn 0.2s ease-in-out forwards;
  font-weight: 200;
}

dropdown-x item-x:hover {
  padding-left: calc(var(--padding) + 5px);
}

dropdown-x item-x::before {
  content: "";
  position: absolute;
  width: 5px;
  margin-top: calc(1rem + 2px);
  height: 0px;
  left: 3px;
  border: 0.5px solid var(--color-theme);
}

dropdown-x item-x.active-x {
  color: var(--color-theme);
}

@keyframes fadeIn {
  0% { margin-left: -20px; }
  100% { margin-left: -12.5px; }
}

dropdown-x:hover {
  cursor: pointer;
}


@media (max-width: 1200px) {

}