nav-x {
  padding: 60px 10px;
  position: fixed;
  z-index: var(--z-nav);
  left: -15.5vw;
  top: 0;
  width: 16vw;
  height: 100vh;
  background: var(--color-theme);
  display: flex;
  flex-direction: column;
  transition-duration: 50ms;
  backdrop-filter: blur(var(--blur));
  border-right: 1px solid var(--color-theme);
}

nav-x[fixed] {
  top: var(--height-header);
  z-index: calc(var(--z-header) - 1);
}

nav-x:hover {
  cursor: pointer;
}

nav-x button-x {
  margin-bottom: 3px;
}


@media (max-width: 1200px) {
  nav-x {
      left: -79vw;
      width: 80vw;
  }
}