button-x {
    display: inline;
    color: var(--white);
    border-radius: var(--radius);
    padding: var(--padding) calc(var(--padding) * 3);
    background: var(--main-theme);
    border: 1px solid var(--main-theme);
    margin: 3px;
    font-size: 1.5rem;
}

button-x:active {
    background: var(--white);
    color: var(--main-theme);
}

button-x:hover {
    background: var(--white);
    color: var(--main-theme);
    cursor: pointer;
}