@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=cyrillic");@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700&subset=greek-ext");@font-face{font-family:"Intro";src:url("http://brands-stores.ru/sum-adap/r1/fonts/Intro/Intro.eot");src:url("http://brands-stores.ru/sum-adap/r1/fonts/Intro/Intro.eot?") format("embedded-opentype"), url("http://brands-stores.ru/sum-adap/r1/fonts/Intro/Intro.woff") format("woff"), url("http://brands-stores.ru/sum-adap/r1/fonts/Intro/Intro.ttf") format("truetype");font-style:normal;font-weight:normal;}
body{font-family:'PT Sans',sans-serif;font-size:16px;background:#fcfcfc;color:#000;}
img{max-width:100%;height:auto;}
.h-menu ul{list-style:none;padding:0;text-align:center;margin:24px 0px;}
.clear{clear:both;}
header{background:url(../img/ban1.jpg) no-repeat center;background-size:cover;}
.h-menu__button-container{display:none;}
.h-menu ul li{display:inline-block;}
.h-menu ul li a{padding:6px 10px;color:#000;border-bottom:0px solid #0077c8;transition:0.3s;-webkit-transition:0.3s;-moz-transition:0.3s;-o-transition:0.3s;-ms-transition:0.3s;}
.h-menu ul li a:hover, .h-menu ul li a:focus{color:#0077c8;border-bottom:2px solid #0077c8;transition:0.3s;-webkit-transition:0.3s;-moz-transition:0.3s;-o-transition:0.3s;-ms-transition:0.3s;text-decoration:none;}
.h-btn{margin:10px auto;display:block;width:100%;border:2px solid #0077c8;background:#0077c8;text-align:center;font-size:18px;color:#fff;font-weight:700;padding:10px 10px;transition:0.3s;-webkit-transition:0.3s;-moz-transition:0.3s;-o-transition:0.3s;-ms-transition:0.3s;}
.h-btn:hover, .h-btn:focus{background:#fff;color:#0077c8;text-decoration:none;outline:none;box-shadow:none;transition:0.3s;-webkit-transition:0.3s;-moz-transition:0.3s;-o-transition:0.3s;-ms-transition:0.3s;}
.main-slider{position:relative;margin-bottom:30px;font-family:'Open Sans',sans-serif;overflow:hidden;margin-top:65px;}
.header-info-container{margin-top:60px;}
.main-slider-btns{}
.main-slider-btns-cont{}
.main-slider-btn1{margin-right:25px;display:inline-block;width:100%;border:2px solid #0077c8;background:#0077c8;text-align:center;font-size:22px;color:#fff;padding:10px 10px;transition:0.3s;-webkit-transition:0.3s;-moz-transition:0.3s;-o-transition:0.3s;-ms-transition:0.3s;}
.main-slider-btn1:hover, .main-slider-btn1:focus{background:#fff;color:#0077c8;text-decoration:none;transition:0.3s;-webkit-transition:0.3s;-moz-transition:0.3s;-o-transition:0.3s;-ms-transition:0.3s;}
.main-slider-btn2{display:inline-block;width:100%;text-align:center;font-size:16px;color:#0077c8;padding:18px 10px;transition:0.3s;-webkit-transition:0.3s;-moz-transition:0.3s;-o-transition:0.3s;-ms-transition:0.3s;}
.main-slider-btn2:hover, .main-slider-btn2:focus{text-decoration:underline;transition:0.3s;-webkit-transition:0.3s;-moz-transition:0.3s;-o-transition:0.3s;-ms-transition:0.3s;}
.header__img-container img{max-width:100%;margin:0 auto;display:table;}
.h-menu__button-container span{width:25px;height:4px;background:#0077c8;display:table;margin-bottom:5px;}
.h-menu__button-container > div{float:left;margin-right:5px;cursor:pointer;}
.h-menu__button-container p{margin:0px 0;float:left;}
.num1-cont{display:table;margin:0 auto;position:relative;margin-top:15px;margin-bottom:15px;}
.num2-cont{display:table;margin:0 auto;position:relative;margin-top:15px;margin-bottom:15px;}
.num3-cont{display:table;margin:0 auto;position:relative;margin-top:15px;margin-bottom:15px;}
.num4-cont{display:table;margin:0 auto;position:relative;margin-top:15px;margin-bottom:15px;}
.num5-cont{display:table;margin:0 auto;position:relative;margin-top:15px;margin-bottom:15px;}
.num6-cont{display:table;margin:0 auto;position:relative;margin-top:15px;margin-bottom:15px;}
.num1-cont.zak:before{content:'';width:100%;height:100%;position:absolute;}
.num2-cont.zak:before{content:'';width:100%;height:100%;position:absolute;}
.num3-cont.zak:before{content:'';width:100%;height:100%;position:absolute;}
.num4-cont.zak:before{content:'';width:100%;height:100%;position:absolute;}
.num5-cont.zak:before{content:'';width:100%;height:100%;position:absolute;}
.num6-cont.zak:before{content:'';width:100%;height:100%;position:absolute;}
.caption{font-family:'Open Sans',sans-serif;}
.caption-txt-cont{}
.caption-txt1{font-size:60px;color:#0077c8;font-weight:400;line-height:53px;}
.caption-txt1 span{font-weight:600;}
.caption-txt2{font-size:60px;line-height:78px;}
.caption-txt3{font-size:30px;}
.caption-txt4{margin:30px 0;}
@media (max-width:767px){.present{min-height:0 !important;}
.catalog-bl{margin-bottom:70px;}
ul.mobile-menu.slow{display:block !important;}
.free{background-size:auto !important;}
.free-bl{float:none !important;width:auto !important;padding:45px 0 !important;padding-top:0 !important;}
.style_col-pag-bl{display:inline-block !important;width:45% !important;margin:10px 0px !important;position:relative !important;padding:12px 0 !important;border-radius:17px !important;padding-left:0 !important;text-align:left !important;border:1px solid transparent !important;cursor:pointer !important;transition:0.3s;-webkit-transition:0.3s;-moz-transition:0.3s;-o-transition:0.3s;-ms-transition:0.3s;text-align:center;padding-top:40px !important;text-align:center !important;}
.style_col-pag-color{position:absolute !important;top:10px !important;left:50% !important;width:40px !important;height:30px !important;border-radius:10px !important;margin-left:-20px !important;}
.main-slider-btn2{font-size:20px;}
.main-slider-btns-cont .row{margin:0;}
.main-slider-btn1{font-size:20px;margin-bottom:20px;}
.h-menu__button-container{display:block !important;padding-left:15px;float:left;margin:25px 0;cursor:pointer;z-index:9;position:relative;margin-bottom:0;}
body{padding-top:72px;}
.header-top{position:fixed;top:0;width:100%;z-index:999;background:rgba(255, 255, 255, 0.74);}
.catalog-bl-price span{display:block;}
.h-btn{max-width:190px;float:right;margin:11px 0;}
.h-menu{position:absolute;width:100%;margin-left:-15px;}
.h-menu ul li{display:block;text-align:left;margin:1px 0px;}
.h-menu ul{list-style:none;padding:0;text-align:center;margin-top:72px;}
.h-menu ul li a{padding:0;background:#0077c8;color:#fff;width:100%;display:block;margin-bottom:1px;padding:10px 15px;}
.h-menu ul li a:hover{padding:0;background:#0077c8;color:#fff;width:100%;display:block;margin-bottom:1px;padding:10px 25px;}
.mobile-menu{display:none;}
.main-slider-btns{max-width:100%;position:static;}
.main-slider-btns-cont{width:100%;float:none;}
.slider-wrapper{padding:0 15px;}
.caption-txt-cont{width:100%;float:none;margin-top:10px;margin-bottom:30px;}
}
.wrapper{overflow-y:hidden;}
.ttl{font-size:30px;font-weight:400;font-family:'PT Sans',sans-serif;margin:40px 0 10px; text-align: center;}
.sub_ttl{font-size:16px;font-family:'PT Sans',sans-serif;color:#9d9fa0;margin-bottom:30px;text-align: center;}
.best{margin-top:30px;margin-bottom:30px;}
.best .row{margin-top:50px;}
.best-bl{width:100%;max-width:312px;margin:0 auto 50px;}
.best-bl-img{margin-bottom:15px;}
.best-bl-ttl{font-weight:700;margin-bottom:20px;font-size:18px;overflow:hidden;}
.best-bl-txt{overflow:hidden;font-size: 14px;}
.kompl{margin-bottom:30px;background:#dedede;}
.kompl-bl{margin:10px -15px;}
.kompl-bl-txt{color:#717171;text-align:center;}
.kompl-bl-img{text-align:center;margin:20px 0;}
.kompl-talon{color:#000;text-align:center; margin: 20px 0;}
.style_col{margin-top: 30px;margin-bottom:30px;}
.style_col .ttl{ text-align: left;}
.style_col .sub_ttl{text-align: left;}
.style_col-img{width:100%;max-width:404px;margin:20px auto;}
.style_col-pag{display:inline-block;}
.style_col-pag-bl{display:inline-block;width:240px;margin:10px 0px;margin-right: 40px;position:relative;padding:12px 0;border-radius:50px;padding-left:100px;text-align:left;border:1px solid transparent;cursor:pointer;transition:0.3s;-webkit-transition:0.3s;-moz-transition:0.3s;-o-transition:0.3s;-ms-transition:0.3s;}
.style_col-pag-bl:hover, .style_col-pag-bl:focus, .style_col-pag-bl.active{border:1px solid #0077c8;transition:0.3s;-webkit-transition:0.3s;-moz-transition:0.3s;-o-transition:0.3s;-ms-transition:0.3s;}
.style_col-pag-color{position: absolute; top: 18px; left: 4px; width: 74px; height: 74px; margin-top: -15px; border-radius: 50px;}
.style_col-pag-color.black{background:#383838;}
.style_col-pag-color.ultra{background:#3c00ac;}
.style_col-pag-color.titanium{background:#84887f;}
.style_col-pag-color.silver{background:#b4bfc5;}
.style_col-pag-color.gold{background:#d5b997;}
.style_col-pag-color.ametist{background:#6c687f;}
.style_col-pag-color.coral{background:#8eafdc;}
.style_col-pag-ttl{font-size:24px;font-weight:700;}
.style_col-pag-sub_ttl{color:#9d9fa0;}
.free{background:#dfdfdf;margin:20px 0;margin-bottom:30px;background-size:cover;}
.free-bl{float:right;padding:76px 0;margin-right:82px;}
.free-bl .ttl{text-align:left;}
.free-bl-btn{margin-right:25px;display:inline-block;width:300px;border:2px solid #0077c8;background:#0077c8;text-align:center;font-size:22px;color:#fff;padding:10px 10px;transition:0.3s;-webkit-transition:0.3s;-moz-transition:0.3s;-o-transition:0.3s;-ms-transition:0.3s;}
.free-bl-btn:hover, .free-bl-btn:focus{background:#fff;color:#0077c8;text-decoration:none;transition:0.3s;-webkit-transition:0.3s;-moz-transition:0.3s;-o-transition:0.3s;-ms-transition:0.3s;}

.best-bl.left .best-bl-img { float: right; margin-left: 20px; margin-bottom: 60px; }
.best-bl.left .best-bl-ttl { text-align: right; }
.best-bl.left .best-bl-txt { text-align: right; }

.best-bl.right .best-bl-img { float: left; margin-right: 20px; margin-bottom: 60px; }
.best-bl.right .best-bl-ttl { text-align: left; }
.best-bl.right .best-bl-txt { text-align: left; }

.best-img {text-align:center;}

.free-img {width:100%;}
.garanty{margin-bottom:30px;background:url('../img/present.jpg')no-repeat 50% 50%;background-size:cover;}
.garanty-bl{margin:15px 0;}
.garanty-bl-img{display:block;text-align:center;}
.garanty-bl-more{display:block;width:226px;padding:0px 5px 1px 40px;margin:15px auto;color:#9d9fa0;background:url("../img/zoom.png") no-repeat 0% 0%;}
.garanty-bl-more:hover, .garanty-bl-more:focus{color:#0077c8;background:url("../img/zoom.png") no-repeat 0% 100%;}
.catalog{font-family:'PT Sans', sans-serif;padding-bottom:30px;background: #e6e6e6;}
.catalog-bl { background: #fff; padding-bottom:40px; }
.catalog-bl-left{display:inline-block;width:40%;vertical-align:top;}
.catalog-bl-right{display:inline-block;width:59%;vertical-align:top;}
.catalog-bl-img{text-align:center;}
.catalog-bl-price{text-align:center;}
.catalog-bl-price span{font-size:24px;font-weight:700;color:#0077c8;}
.catalog-bl-ttl{font-size:36px;font-weight:400;color:#0077c8;padding: 31px 0; margin-left: 30px;}
.catalog-bl-sub_ttl{color:#9d9fa0;}
.catalog-bl-btn{margin-top:20px;margin-right:25px;display:inline-block;width:260px;border:2px solid #0077c8;background:#0077c8;text-align:center;font-size:22px;color:#fff;font-weight:700;padding:10px 10px;transition:0.3s;-webkit-transition:0.3s;-moz-transition:0.3s;-o-transition:0.3s;-ms-transition:0.3s;}
.catalog-bl-btn:hover, .catalog-bl-btn:focus{background:#fff;color:#0077c8;text-decoration:none;transition:0.3s;-webkit-transition:0.3s;-moz-transition:0.3s;-o-transition:0.3s;-ms-transition:0.3s;}
.present{min-height:680px;}
.present-bl{margin-top:270px;width:580px;float:right;}
.present-img-container img{max-width:100%;}
.present-img-container{margin-top:221px;position:absolute;bottom:0;left:0;z-index:-1;}
.ali-right{float:right;}
.ali-left{float:left;}
.present-bl-ttl{font-size:48px;color:#f00;font-weight:700;}
.present-bl-txt{font-size:36px;font-weight:700;}
@media(min-width:1200px){.present{min-height:auto;}
.present-bl{margin-top: 180px; margin-bottom: 180px;}
.present-img-container{margin-top:100px;}
}
.rew{background: white;padding-bottom: 38px;}
.rew-bl{width:100%;max-width:357px;margin:0 auto 20px;cursor:pointer;border:1px solid #e5e5e5;background:#fff;transition:0.3s;-webkit-transition:0.3s;-moz-transition:0.3s;-o-transition:0.3s;-ms-transition:0.3s;}
.rew-bl-img{width: 100%; max-width: 100px; margin: 30px 0; margin-left: 39px; margin-right: 20px; border-radius: 50%; overflow: hidden; float:left;}
.rew-bl-ttl{font-size:24px;font-weight:700;margin-top: 55px;}
.rew-bl-sub_ttl{color:#9d9fa0;}
.rew-bl-txt{max-width:276px;margin:5px auto;overflow:hidden;height:135px;}
.rew .zak {margin-top:15px;margin-bottom:15px;}
.rew-bl-btn{width:100%;max-width:220px;margin:10px auto;text-align:center;border:1px solid #777777;padding-left:27px;transition:0.3s;-webkit-transition:0.3s;-moz-transition:0.3s;-o-transition:0.3s;-ms-transition:0.3s;}
.rew-bl-btn .like{background:url(../img/like.png) no-repeat 0% 0%;width:14px;height:12px;display:inline-block;vertical-align:middle;margin-right:10px;}
.rew-bl-btn .count{background:#777777;display:inline-block;vertical-align:middle;margin-left:12px;width:52px;height:40px;color:#fff;transition:0.3s;-webkit-transition:0.3s;-moz-transition:0.3s;-o-transition:0.3s;-ms-transition:0.3s;padding:7px 4px;}
.rew-bl:hover, .rew-bl:focus{border:1px solid #0077c8;transition:0.3s;-webkit-transition:0.3s;-moz-transition:0.3s;-o-transition:0.3s;-ms-transition:0.3s;}
.rew-bl:hover .rew-bl-btn, .rew-bl:focus .rew-bl-btn{border:1px solid #0077c8;background:#0077c8;color:#fff;transition:0.3s;-webkit-transition:0.3s;-moz-transition:0.3s;-o-transition:0.3s;-ms-transition:0.3s;}
.rew-bl:hover .rew-bl-btn .like, .rew-bl:focus .rew-bl-btn .like{background:url(../img/like.png) no-repeat 0% 100%;}
.rew-bl:hover .rew-bl-btn .count, .rew-bl:focus .rew-bl-btn .count{background:#0077c8;color:#fff;transition:0.3s;-webkit-transition:0.3s;-moz-transition:0.3s;-o-transition:0.3s;-ms-transition:0.3s;}
.rew-make_btn{margin:20px auto;display:block;width:260px;border:2px solid #0077c8;background:#0077c8;text-align:center;font-size:22px;color:#fff;font-weight:700;padding:10px 10px;transition:0.3s;-webkit-transition:0.3s;-moz-transition:0.3s;-o-transition:0.3s;-ms-transition:0.3s;}
.rew-make_btn:hover, .rew-make_btn:focus{background:#fff;color:#0077c8;text-decoration:none;transition:0.3s;-webkit-transition:0.3s;-moz-transition:0.3s;-o-transition:0.3s;-ms-transition:0.3s;}
.make_rew{text-align:center;}
.make_rew-ttl{color:#0077c8;font-size:24px;font-weight:700;text-align:center;margin:10px 0;text-transform:uppercase;}
.make_rew p{color:#0077c8;}
.page_order{margin:80px auto;width:100%;max-width:532px;}
.page_order-ttl{font-size:30px;font-weight:700;text-align:center;text-transform:uppercase;margin-bottom:40px;}
.page_order-only{font-size:24px;font-weight:700;text-transform:uppercase;color:#0077c8;}
.page_order form{margin:40px 0;}
.page_order form > div{overflow:hidden;width:100%;margin-bottom:20px;}
.page_order form .clearfix{margin-bottom:0;}
.page_order form input[type="submit"]{margin:10px auto;display:block;width:280px;border:2px solid #0077c8;background:#0077c8;text-align:center;font-size:22px;color:#fff;font-weight:700;border-radius:30px;padding:10px 10px;transition:0.3s;-webkit-transition:0.3s;-moz-transition:0.3s;-o-transition:0.3s;-ms-transition:0.3s;}
.page_order form input[type="submit"]:hover, .page_order form input[type="submit"]:focus{background:#fff;color:#0077c8;text-decoration:none;outline:none;box-shadow:none;transition:0.3s;-webkit-transition:0.3s;-moz-transition:0.3s;-o-transition:0.3s;-ms-transition:0.3s;}
.page_order form .chk{float:right;width:100%;max-width:290px;}
.page_order form .chk_l{float:left;width:100%;max-width:140px;}
.page_order form .chk label{width:100%;}
.page_order form .chk label:before{content:'';display:inline-block;width:14px;height:14px;background:#cfcfcf;border-radius:50%;margin-right:10px;cursor:pointer;}
.page_order form .chk input{display:none;}
.page_order form .chk input:checked + label:before{background:#0077c8;}
.page_order form .req{color:#f00;}
.page_order form .fields_required{float:right;width:100%;max-width:290px;}
.page_order-label{float:left;width:100%;max-width:140px;}
.page_order-input{float:right;width:100%;max-width:290px;border:1px solid #cfcfcf;background:#fff;border-radius:30px;padding:10px 20px;transition:0.3s;-webkit-transition:0.3s;-moz-transition:0.3s;-o-transition:0.3s;-ms-transition:0.3s;color:#000;}
.page_order-input:focus{border:1px solid #0077c8;outline:none;box-shadow:none;}
.page_thanks{text-align:center;margin:80px 0px;}
.page_thanks-ttl{font-size:36px;font-weight:700;color:#0077c8;margin-bottom:20px;}
.page_thanks-txt{font-size:24px;margin-bottom:20px;}
.page_thanks-five{color:#cfcfcf;margin-bottom:20px;}
footer{background:#e1e1e1;padding-top:145px;}
.f-menu ul{padding:0;list-style:none;}
.f-menu ul li{font-size:14px;}
.f-menu ul li a{color:#000;}
.f-adrs{font-size:14px;}
.f-manag span{font-size:24px;font-weight:700;margin-bottom:20px;}
.f-form{background: #323538; max-width: 347px; height: 400px; /*position: absolute; top: -170px;*/ padding: 29px 40px;}
.f-form-ttl{font-size:30px;font-weight:700;color:#fff;text-align:center;}
.f-form-sub_ttl{color:#fff;text-align:center;margin-bottom:30px;}
.f-form input[type="text"], select{border:1px solid #fff;background:#fff;width:100%;color:#fff;padding:10px 10px;transition:0.3s;-webkit-transition:0.3s;-moz-transition:0.3s;-o-transition:0.3s;-ms-transition:0.3s;margin:10px auto;color:#000;}
.f-form input[type="text"]:focus{border:1px solid #0077c8;outline:none;box-shadow:none;}
.f-form input[type="submit"]{margin:10px auto;display:block;width:100%;text-transform:uppercase;border:2px solid #0077c8;background:#0077c8;text-align:center;font-size:22px;color:#fff;font-weight:700;padding:10px 10px;transition:0.3s;-webkit-transition:0.3s;-moz-transition:0.3s;-o-transition:0.3s;-ms-transition:0.3s;}
.f-form input[type="submit"]:hover, .f-form input[type="submit"]:focus{background:#fff;color:#0077c8;text-decoration:none;outline:none;box-shadow:none;transition:0.3s;-webkit-transition:0.3s;-moz-transition:0.3s;-o-transition:0.3s;-ms-transition:0.3s;}
.f-copy{padding:20px 0;}
.f-cont1{padding:15px 0;}
.f-cont2{background:#000000;color:#fff;padding:20px 0;}
.f-cont2-l{text-align:left;}
.f-cont2-r{text-align:right}
@media (min-width:992px) and (max-width:1199px){
	.f-form{width:300px;}
}
@media (max-width:991px){.present-img-container{margin-top:50px;text-align:center;}
.present-bl{margin-top:50px;text-align:center;}
.catalog-bl-btn{margin-top:20px;margin-right:0;display:inline-block;width:100%;border:2px solid #0077c8;background:#0077c8;text-align:center;font-size:18px;color:#fff;font-weight:700;border-radius:30px;padding:10px 10px;transition:0.3s;-webkit-transition:0.3s;-moz-transition:0.3s;-o-transition:0.3s;-ms-transition:0.3s;}
footer{text-align:center;padding-top:30px;}
.f-form{position:static;margin:10px auto;}
.free-bl{float:right;padding:165px 0;margin-right:0px;}
.catalog-bl-left { width: 100%; } 
.catalog-bl-right { width: 100%; padding: 10px 15px; }
.present .container {height:680px;}
}
@media (max-width:767px){.f-cont2-l{text-align:center;}
	.f-cont2-r{text-align:center;}
	.present-bl{width:auto;float:none;}
	.present .container {height:722px;}
	.present-img-container {width:100%;text-align:center;}
	.style_col .ttl { text-align: center; } 
	.style_col .sub_ttl { text-align: center; } 
	.style_col-pag { text-align: center; width: 100%; }
	.best-bl.left .best-bl-img { float: left; margin-left: 20px; margin-right: 20px; margin-right: 20px; margin-bottom: 60px; }
	.best-bl.left .best-bl-ttl { text-align: left; }
	.best-bl.left .best-bl-txt { text-align: left; }
	.best-bl.right .best-bl-img {margin-left: 20px;}
}

.darken {color:#003B61 !important;}