tos-x {
  position: fixed;
  min-height: 80px;
  max-height: 200px;
  width: 300px;
  min-height: 70px;
  padding: 5px;
  border: 1px solid var(--color-theme);
  border-radius: 12px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  backdrop-filter: blur(12px);
  z-index: var(--z-message);
  color: var(--color-theme);
  box-shadow: var(--shadow);
}

tos-x close-x {
  color: var(--black) !important;
}


@media (max-width: 1200px) {

}