block-x {
  display: block;
  background: var(--gray-gradient);
  width: 100%;
  min-height: 100px;
  background: var(--white);
  padding: 10px var(--padding);
  margin: var(--margin);
  border-radius: var(--radius);
  box-shadow: var(--shadow);
}