block-x {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 100px;
  background: var(--white);
  padding: 10px var(--padding);
  margin: var(--margin);
  border-radius: var(--radius);
  border: var(--border);
  box-shadow: var(--shadow);
  width: 98%;
  overflow: hidden;
}
block-x img {
  width: 77px;
  margin: 12px;
}


@media (max-width: 1200px) {

}