content-x {
    display: block;
    position: relative;
    min-height: 90vh;
    margin-bottom: 50px;
    top: 1vh;
    width: 1200px;
    background: var(--gray-gradient);
    padding: var(--padding);
    border-radius: var(--radius);
}

content-x p,
content-x h1, h2, h3, h4, h5 {
    color: var(--black);
    margin: 0px auto;
}

body:has(header-x) content-x {
    padding-top: 20px;
}


@media (max-width: 1200px) {
    body:has(nav-x) content-x {
        padding-left: 2vw;
    }
    content-xpwa {
        width: 96vw !important;
        left: 0.5vw !important;
    }
}