header-x {
    position: fixed;
    display: flex;
    align-items: center;
    position: relative;
    left: 0;
    background: var(--white);
    min-height: var(--height-header);
    box-shadow: var(--shadow);
    backdrop-filter: var(--blur);
    z-index: var(--z-header);
    width: 100vw;
}


@media (max-width: 1200px) {
    header-x {
        align-items: flex-start;
    }
}