.showElement {
  animation: showElementAnimation 0.3s linear;
}

.hiddenElement {
  animation: hiddenElementAnimation 0.3s linear;
}

.hiddenElement {
  animation: hiddenElementToTopAnimation 0.4s linear;
}

@keyframes showMenu {
  0% {
    left: 110vw;
    opacity: 0;
  }

  100% {
    left: 10vw;
    opacity: 1;
  }
}

@keyframes showElementAnimation {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  50% {
    transform: scale(0.4);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes hiddenElementAnimation {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  50% {
    transform: scale(0.4);
  }

  100% {
    opacity: 0;
    transform: scale(0);
  }
}

@keyframes hiddenElementToTopAnimation {
  0% {
    opacity: 1;
    background: rgba(0, 0, 0, 0);
  }

  70% {
    top: -100vh;
  }

  100% {
    opacity: 0;
  }
}