.uchet-awards-section {
    position: relative;
    height: 600px;
}
.uchet-awards-section h1 {
    font-size: 36px;
    margin-bottom: 40px;
    text-align: center;
}
.uchet-awards-section:after {
    left: 200px;
    top: 200px;
    background: url('../media/index/award_left.png');
}
.uchet-awards-section:before {
    right: 200px;
    bottom: 100px;
    background: url('../media/index/award_right.png');
}
.uchet-awards-section:after,
.uchet-awards-section:before{
    content: "";
    position: absolute;
    width: 300px;
    height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
}
.uchet-award-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.uchet-award-block {
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.08), 0px 0px 4px 0px rgba(0, 0, 0, 0.04);
    border-radius: var(--radius);
    width: 515px;
    height: 128px;
    background: #FDFDFD;
    z-index: 2;
    position: relative;
}
.uchet-award-block:after {
    content: "";
    width: 100px;
    height: 128px;
    border-top: 1px dashed black;
    border-right: 1px dashed black;
    position: absolute;
    top: 64px;
    z-index: -1;
    right: -100px;
}
.uchet-award-block:last-child:after {
    border: none;
}
.uchet-award-block:first-child {
    margin-left: -40%;
}
.uchet-award-block:last-child {
    margin-left: 40%;
}
.uchet-award-block > div {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.uchet-award-block > div > b {
    font-size: 27px;
}
.uchet-award-block:first-child > div > b {
    color: var(--red);
}
.uchet-award-block > div > span {
    font-size: 22px;
}
.uchet-plus-awards-section {
    height: 240px;
    background: #F5FAFF;
    padding: 25px;
    margin-bottom: 80px;
}
.uchet-plus-awards-section h4 {
    font-size: 22px;
    color: var(--blue);
    text-align: center;
    margin-bottom: 20px;
}
.uchet-plus-awards-section p {
    font-size: 20px;
    text-align: center;
}

@media (max-width: 1400px) {
    .uchet-award-block {
        width: 80vw!important;
    }
    .uchet-award-block:first-child {
        margin-left: 0;
    }
    .uchet-award-block:last-child {
        margin-left: 0;
    }
    .uchet-award-block:after {
        border: none;
    }
}