.uchet-countdown {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    background-color: var(--gray);
    border-radius: var(--radius);
    padding: 0.2rem;
    perspective: 1000px;
    transform-style: preserve-3d;
}

.uchet-countdown-block {
    margin: 0 5px;
    text-align: center;
    display: flex;
}

.uchet-number {
    font-size: 35px;
    height: 50px;
    line-height: 50px;
    overflow: hidden;
}

.uchet-countdown-block .uchet-label {
    writing-mode: vertical-lr;
    font-size: 7px;
    line-height: 7px;
}

.uchet-animated {
    animation: fall 0.3s ease-in-out;
}

@keyframes fall {
    0% {
        transform: translateY(-100%) rotateX(90deg);
        opacity: 0;
        text-shadow: 0 0 20px red;
        color: red
    }

    30% {
        opacity: 1;
    }

    100% {
        transform: translateY(0%);
    }
}