.uchet-rule-content {
    padding-top: 50px;
    background: url(../media/rule.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 100% 100%;
}

.uchet-rule-content h1 {
    color: var(--black);
    font-size: 55px;
    font-style: normal;
    font-weight: 900;
    line-height: 120%;
}

.uchet-rule-content h3,
.uchet-rule-content-more h3 {
    color: var(--black);
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-top: 20px;
    margin-bottom: 10px;
}

.uchet-rule-content-more h3 {
    text-align: center;
    margin-top: 100px;
}

.uchet-rule-content ul {
    width: 724px;
}

.uchet-rule-content ul li {
    color: var(--black);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    margin-left: 20px;
}

.uchet-rule-content-more .uchet-warning-text {
    margin-bottom: 60px;
}

.uchet-rules-content {
    width: 1200px;
    transform: scale(0.8);
    margin-left: -150px;
}

.uchet-rules-content h2 {
    margin-bottom: 60px;
    color: var(--black);
    font-size: 36px;
    text-align: center;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.uchet-rules {
    position: relative;
    background: url(../media/line.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    min-height: 300px;
}

.uchet-rules-texts {
    position: absolute;
    top: 60px;
    left: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    width: 900px;
}

.uchet-rule-text {
    font-size: 20px;
    width: 340px;
    text-align: center;
}

.uchet-rule-text:nth-child(4),
.uchet-rule-text:nth-child(5),
.uchet-rule-text:nth-child(6) {
    margin-top: 60px;
}

.uchet-rule-text:nth-child(5) {
    width: 380px;
    margin-left: -30px;
}

.uchet-rule-text:nth-child(6) {
    margin-left: -30px;
}

.uchet-rule-text:nth-child(7) {
    margin-top: 50px;
}

.uchet-rules-pointers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 190px;
    width: 900px;
    margin-left: 200px;
}

.uchet-rule-point {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--point-color);
    width: 35px;
    height: 35px;
    color: var(--white);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 50%;
    z-index: var(--z-rule-point);
}

.uchet-rule-point:hover {
    cursor: pointer;
    transform: scale(1.5);
    background-color: var(--red);
}

.uchet-rule-point:nth-child(4),
.uchet-rule-point:nth-child(5),
.uchet-rule-point:nth-child(6) {
    margin-top: -60px;
}

.uchet-rule-text .uchet-rule-point {
    display: none;
}

@media (max-width: 1400px) {
    .uchet-rules {
        background-repeat: repeat-y;
    }

    .uchet-rules-content {
        width: 98vw;
        margin-left: 1vw;
    }

    .uchet-rules-content {
        margin-top: 15px;
    }

    .uchet-rules-content h2 {
        text-align: left;
        margin-left: 1vw;
    }

    .uchet-rules-texts {
        width: 98vw;
        margin-left: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0px;
        top: 0;
        left: 0;
        position: relative;
    }

    .uchet-rules-pointers,
    .uchet-rules-pointers .uchet-rule-point {
        display: none;
    }

    .uchet-rule-text {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
        margin-top: 0!important;
    }

    .uchet-rules-content {
        margin-top: -50px;
    }

    .uchet-rule-text:nth-child(5),
    .uchet-rule-text:nth-child(6) {
        width: 100%;
        margin-left: 0;
    }

    .uchet-rule-text {
        width: 100%;
    }
}