@import url(variables.css);
@import url(fonts.css);
@import url(breadcrumb.css);
@import url(countdown.css);
@import url(modal.css);
@import url(shared.css);
@import url(rules.css);
@import url(form.css);
@import url(statistic.css);
@import url(first_step.css);
@import url(components.css);
@import url(tabs.css);
@import url(second_step.css);
@import url(awards.css);
@import url(header.css);
@import url(footer.css);

@import url(chance.css);
@import url(animation.css);


#uchetContent {
    position: relative;
    margin: 0px auto;
    width: 900px;
    padding-top: 150px;
}

.uchet-button,
.uchet-button-small {
    color: var(--white);
    background: var(--red);
    border-radius: var(--radius);
    padding: 20px 55px;
    border: none;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: 1px solid var(--red);
    padding: 10px;
    font-size: 1rem;
    margin: 3px 0px;
}

.uchet-members {
    margin-top: 10px;
}

.uchet-button {
    width: 100%;
}

.uchet-button:hover,
.uchet-button-small:hover {
    background: var(--white);
    cursor: pointer;
    color: var(--red);
}

.uchet-button-small:hover a {
    cursor: pointer;
    color: var(--red);
}

hr.uchet-hr {
    border-width: 0.1px;
    border: 0.4px solid var(--gray);
    border-bottom: none;
    margin: 5px 0px;
}

.uchet-start-content {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}

.uchet-promo-description {
    width: 900px;
}

.uchet-promo-description p {
    margin-top: 20px;
    margin-bottom: 30px;
    width: 460px;
}

.uchet-promo-image {
    width: 50%;
}

.uchet-start-content h1 {
    font-size: 55px;
    font-style: normal;
    font-weight: 900;
    line-height: 120%;
}

.uchet-start-content h1.uchet-blue-text {
    color: var(--blue);
}

.uchet-promo-image {
    background: url('../media/index/promo.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.uchet-color-red {
    color: var(--red);
}

.uchet-aim,
.uchet-date-contest {
    margin-top: 40px;
}

.uchet-aim-header,
.uchet-date-contest-header {
    text-align: center;
    color: var(--black);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 20px;
}

.uchet-date-contest-header {
    color: var(--black);
}

.uchet-aim-blocks,
.uchet-date-contest-blocks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 900px;
}

.uchet-aim-block {
    margin: 0px 20px;
    border-radius: var(--radius);
    width: 300px;
    height: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.08), 0px 0px 4px 0px rgba(0, 0, 0, 0.04);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.uchet-aim-block:first-child {
    margin-left: 0px;
}

.uchet-aim-block:last-child {
    margin-right: 0px;
}

.uchet-aim-block img {
    margin-top: 15px;
}

.uchet-aim-block p {
    padding: 15px 40px;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
}

.uchet-date-contest-block {
    position: relative;
    margin: 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    padding: 15px 30px;
    width: 300px;
    height: 160px;
    background: var(--blue);
    color: var(--white);
    border-radius: var(--radius);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.08), 0px 0px 4px 0px rgba(0, 0, 0, 0.04);
    margin: 3px;
    overflow: hidden;
}

.uchet-date-contest-block:after {
    content: "";
    width: 200%;
    height: 100%;
    position: absolute;
    top: 0;
    background: rgba(255, 255, 255, 0.2);
    transform: rotate(45deg);
    animation: backgroundCard 5s infinite;
}

@keyframes backgroundCard {
    50% {
        transform: rotate(360deg);
    }
}

.uchet-date-contest-block:first-child {
    margin-left: 0px;
}

.uchet-date-contest-block:last-child {
    margin-right: 0px;
}

.uchet-date-contest-block p {
    text-align: center;
}

.uchet-date-contest-block b {
    font-size: 22px;
    text-align: center;
}

.uchet-wave-section {
    background: url(../media/wave.svg);
    background-size: cover;
    min-height: 1140px;
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
}

.uchet-wave-section-content {
    margin: 0 auto;
    padding-bottom: 50px;
    width: 1200px;
    background: url(../media/award_bg.svg);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: 100% 90%;
}

.uchet-wave-section h2 {
    font-size: 36px;
    margin-top: 275px;
    margin-bottom: 50px;
}

.uchet-organizators-content {
    position: relative;
    min-height: 500px;
    margin-bottom: 100px;
}

.uchet-organizators-content h2 {
    margin-bottom: 60px;
    color: var(--black);
    font-size: 36px;
    text-align: center;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.uchet-organizators-content div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 1200px;
    flex-wrap: wrap;
    margin: 0px auto;
}

.uchet-organizators-content div>div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    border-radius: var(--radius);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.08), 0px 0px 4px 0px rgba(0, 0, 0, 0.04);
    background: var(--white);
    width: 360px;
    height: 161px;
    margin: 20px;
    padding-top: 35px;
    text-align: center;
    font-size: 18px;
}

.uchet-organizators-content div>div>img {
    height: 41px;
    margin-bottom: 15px;
}

.uchet-organizators-content div>div:hover {
    box-shadow: none;
    cursor: pointer;
}

.uchet-wave-section h3 {
    color: var(--blue);
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 25px;
}

.uchet-wave-section ul {
    width: 650px;
    color: var(--black);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-left: 20px;
}

.uchet-award-blocks {
    display: flex;
    flex-direction: column;
    background: url(../media/lines_black.svg);
    background-repeat: no-repeat;
    background-position: 38% 40%;
}

.uchet-award-block {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 439px;
    height: 126px;
    border-radius: var(--radius);
    background: var(--white);
    padding: 20px 40px;
    margin-bottom: 30px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.08), 0px 0px 4px 0px rgba(0, 0, 0, 0.04);
}

.uchet-award-block div {
    width: 90%;
}

.uchet-award-block div h4 {
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 10px;
}

.uchet-award-block div p {
    color: var(--black);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.uchet-warning-text {
    display: block;
    color: var(--red);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    text-align: center;
}

.uchet-link-text {
    display: inline;
    color: var(--blue);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    text-align: center;
}

/*

Стили страниц куркурсов

*/
#uchetContent {
    margin-top: 120px;
    margin-bottom: 20px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-top: 0;
    min-height: 500px;
}

.uchet-left-nav,
.uchet-right-nav {
    position: absolute;
    top: 0;
    padding: 10px 5px;
    width: var(--width-nav);
    height: calc(100vh - 130px);
    background: var(--white);
    border-radius: var(--radius);
}

.uchet-right-nav h3 {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 10px;
    text-align: center;
}

.uchet-right-nav h4 {
    font-weight: 100;
    font-size: 1rem;
    margin-left: 20px;
    margin-bottom: 3px;
}

.uchet-right-nav h4 i {
    color: var(--red);
}

.uchet-left-nav {
    left: -240px;
    padding-top: 30px;
}

.uchet-left-nav li {
    list-style: none;
    margin-bottom: 12px;
    border: 1px solid rgba(0, 0, 0, 0);
    border-bottom: 0.1px dashed var(--gray);
    border-radius: var(--radius);
}

.uchet-left-nav li:hover {
    cursor: pointer;
    background: var(--red);
    border-color: rgba(0, 0, 0, 0);
}

.uchet-left-nav li:hover a {
    color: var(--white);
}

.uchet-left-nav a {
    margin-left: 0;
    color: var(--black-light);
    padding-left: 15px;
}

.uchet-right-nav {
    right: -240px;
}

.uchet-right-nav .uchet-countdown {
    min-width: calc(100% - 0.6rem);
}

.uchet-container {
    background: var(--white);
    border-radius: var(--radius);
    min-height: 100vh;
    width: 100%;
    padding: 10px 15px;
}

.uchet-members {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--red);
    border-radius: var(--radius);
    transition-duration: 200ms;
    padding: 7px;
}

.uchet-members:hover {
    background: var(--red);
    color: var(--white);
    cursor: pointer;
}

.uchet-members img {
    border-radius: var(--radius);
    width: 50px;
    transition-duration: 1s;
}

.uchet-members:hover img {
    background: white;
    transform: rotateY(360deg);
    padding: 0px 7px;
    margin-top: 14px;
}

.uchet-members:hover i {
    transform: scale(1.2) rotateZ(180deg);
}

.uchet-view {
    margin-top: 7px;
}

.uhcet-greeen-bg {
    background: var(--green);
    border: 1px solid var(--green);
    font-size: 0.9rem;
}

.uhcet-greeen-bg:hover {
    border: 1px solid var(--green);
    color: var(--green);
}
.uchet-date {
    text-align: center;
}

@media (max-width: 1400px) {
    html, body {
        overflow-x: hidden;
    }
    .uchet-container {
        min-height: 200px;
    }

    #uchetContent {
        width: 98%;
    }

    .uchet-left-nav,
    .uchet-right-nav {
        position: relative;
        padding: 10px 5px;
        width: 98%;
        min-height: 100px;
        max-height: 440px;
        background: var(--white);
        border-radius: var(--radius);
        margin: 2px;
        order: -1;
    }

    .uchet-left-nav,
    .uchet-right-nav {
        left: 1%;
    }
    .uchet-left-nav {
        height: 250px;
    }

    .uchet-start-content h1 {
        font-size: 30px;
        padding: 3px;
    }

    .uchet-promo-description p {
        width: 98vw;
        margin-left: 1vw;
    }

    .uchet-promo-description .uchet-button-small {
        margin-left: 1vw;
    }

    .uchet-aim-blocks,
    .uchet-date-contest-blocks {
        flex-direction: column;
        width: 98vw;
        margin-left: 1vw;
    }

    .uchet-aim-block,
    .uchet-date-contest-block {
        width: 70%;
    }

    .uchet-wave-section h2 {
        margin-top: 175px;
    }

    .uchet-wave-section h2,
    .uchet-wave-section h3,
    .uchet-wave-section ul,
    .uchet-rules {
        width: 98vw;
        margin-left: 1vw;
    }

    .uchet-award-blocks {
        width: 95vw;
        margin-left: 2.5vw;
    }

    .uchet-award-block {
        padding: 20px 0px;
        width: 100%;
        padding-left: 20px;
    }

    .uchet-organizators-content {
        margin-bottom: 10px;
        margin-top: 80px;
    }

    .uchet-organizators-content > h2 {
        margin: 0px;
    }

    .uchet-organizators-content > div {
        width: 100%;
    }

    .uchet-organizators-content div > div {
        padding: 5px;
        width: 90%;
        padding-top: 20px;
    }

    .uchet-organizators-content div {
        flex-direction: column;
    }

    .uchet-members {
        margin-top: 20px;
    }

    .uchet-date h3 {
        font-size: 1.8rem;
    }

    .uchet-date h4 {
        font-size: 1.2rem;
    }

    .uchet-promo-image {
        display: none;
    }

    .uchet-wave-section-content {
        background-position: 10% 35%;
    }

    .uchet-wave-section {
        min-height: 0;
        top: -70px;
    }
}