:root {
    --white: #fff;
    --black: #1A1A1A;
    --black-light: #3e3d3d;
    --red: #F44;
    --red-light: rgb(245, 116, 116);
    --blue: #2A60EB;
    --gray: #E7E7E7;
    --gray-light: #ecf0f1;
    --deep-gray: #F3F3F3;
    --dark: #0F0F0F;
    --point-color: #070707;
    --orange: orange;
    --green: #00963F;

    --radius: 0.42rem;
    --width-nav: 235px;

    --z-rule-point: 10;
    --z-panel-radios: 99;
    --z-inputs: 100;
    --z-header: 999;
    --z-modal: 9999999999;
}