@media (max-width: 1200px) {
    menu-x {
        margin-top: 40px;
        flex-direction: column;
    }

    menu-x > * {
        margin-bottom: 5px;
        width: 94%;
        display: none;
        animation: show 0.3s linear;
    }
}