menu-x {
    display: flex;
    position: relative;
    justify-content: flex-end;
    align-items: center;
    margin: var(--margin);
    width: 100%;
}
menu-x button-x {
    color: var(--main-theme);
    border-radius: var(--radius);
    padding: var(--padding) 15px;
    background: none;
    border: none;
    margin: 3px;
    font-size: 1.2rem;
    border: 1px solid rgba(0,0,0,0);
}