/* Flex container */
.flex { display: flex; }
.flexColumn { flex-direction: column; }
.flexColumnReverse { flex-direction: column-reverse; }
.flexDirectionRow { flex-direction: row; }
.flexDirectionRowReverse { flex-direction: row-reverse; }
.flexWrap { flex-wrap: wrap; }
/* Justify-Content */
.startJC { justify-content: flex-start; }
.endJC { justify-content: flex-end; }
.centerJC { justify-content: center; }
.betweenJC { justify-content: space-between; }
.aroundJC { justify-content: space-around; }
/* Align-Items */
.startAI { align-items: flex-start; }
.endAI { align-items: flex-end; }
.centerAI { align-items: center; }
.stretchAI { align-items: stretch; }
.baselineAI { align-items: baseline; }
/* Align-Self */
.startAS { align-self: flex-start; }
.centerAS { align-self: center; }