carusel-x {
    position: relative;
    display: block;
    background-position: center center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    min-height: 400px !important;
    min-width: 100%;
}

slider-x img {
    display: none;
}

back-slide-x,
next-slide-x {
    position: absolute;
    height: 100%;
    width: 50px;
    color: var(--color-theme);
    display: flex;
    align-items: center;
    justify-content: center;
}

back-slide-x:hover,
next-slide-x:hover {
    font-size: 2rem;
    background: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

back-slide-x {
    left: 0;
}

back-slide-x:after {
    content: "\25C0";
    color: var(--color-theme);
    font-size: 1rem;
}

next-slide-x {
    right: 0;
}

next-slide-x:after {
    content: "\25B6";
    color: var(--color-theme);
    font-size: 1rem;
}