dots-container-x {
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: 10px;
    min-width: 100px;
    left: calc(50vw - 50px);
}

dot-x {
    display: block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: var(--main-theme);
}

dot-x:hover,
dot-x.active {
    transform: scale(2);
    cursor: pointer;
}