@import url(nav_mobile.css);

nav-x {
  padding: 60px 10px;
  position: fixed;
  left: -19.5vw;
  top: 0;
  width: 20vw;
  height: 100vh;
  z-index: var(--z-nav);
  background: var(--main-theme);
  display: flex;
  flex-direction: column;
  transition-duration: 50ms;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

nav-x:hover {
  cursor: pointer;
}

nav-x button-x {
  margin-bottom: 3px;
}