promo-x {
    height: 80vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
promo-x h1 {
    color: var(--color-theme);
    font-size: 3rem;
}
promo-x h2 {
    font-size: 2rem;
}
promo-x::before {
    content: "";
    position: absolute;
    width: 70%;
    height: 70%;
    border: 1px solid var(--color-theme);
    opacity: 0.2;
    transform: scaleX(0.5) rotate(3deg);
    animation: showPromoBlocks 5.2s infinite;
    z-index: -1;
}
promo-x::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid var(--color-theme);
    opacity: 0.2;
    transform: scaleX(0.6) rotate(7deg);
    animation: showPromoBlocks 7.2s infinite;
    z-index: -1;
}
@keyframes showPromoBlocks {
    50% {
        transform: scaleX(0.9) rotate(0deg);
        border-radius: 200px;
    }
}


@media (max-width: 1200px) {
    promo-x h2 {
        text-align: center;
    }
}