burger-x {
    display: none;
    cursor: pointer;
}

burger-x span {
    display: block;
    width: 25px;
    height: 3px;
    margin: 4px 0;
    border-radius: 7px;
    background: var(--color-theme);
}


@media (max-width: 1200px) {
    burger-x {
        display: inline;
        cursor: pointer;
        position: absolute;
        top: -30px;
        left: 90%;
        max-width: 50px;
    }
}