close-x {
  position: absolute;
  top: 9px;
  right: 20px;
  width: 20px;
  font-size: 2.5rem;
  transform: rotate(45deg);
  color: var(--color-theme);
  user-select: none;
}

close-x:hover {
  cursor: pointer;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
  transform: scale(1.1) rotate(45deg);
}