phone-x {
  position: fixed;
  right: 20px;
  bottom: 80px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: var(--z-phone);
}
phone-x a svg {
  background: var(--white);
  width: 50px;
  height: 50px;
  border: 1px solid var(--white);
  border-radius: 50%;
}

phone-x a {
  color: var(--color-theme);
}

phone-x:hover {
  cursor: pointer;
  transform: scale(1.1);
}


@media (max-width: 1200px) {

}