@keyframes showElementAnimation {
  0% {
      opacity: 0;
      transform: perspective(1000px) rotateX(180deg);
  }
  100% {
      opacity: 1;
      transform: perspective(800px) rotateX(0deg);
  }
}
@keyframes hiddenElementAnimation {
  0% {
      opacity: 1;
  }
  50% {
      transform: perspective(800px) rotateY(70deg);
  }
  100% {
      opacity: 0;
  }
}
@keyframes progressround {
  50% {
      transform: rotate(360deg);
  }
}
@keyframes progressroundSputnik {
  0% {
      left: -15px;
      background-color: red;
  }
  1% {
      background-color: none;
  }
  50% {
      left: 102px;
  }
  100% {
      left: -15px;
  }
}