.showElement {
    animation: showElementAnimation 0.3s linear;
    will-change: transform;
}
.hiddenElement {
    animation: hiddenElementAnimation 0.3s linear;
    will-change: transform;
}
.hiddenToRightElement {
  animation: hiddenToRightElementAnimation 0.5s linear;
  will-change: transform;
  transition-property: right;
}
@keyframes showElementAnimation {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes hiddenElementAnimation {
  0% {
    opacity: 1;
  }
  50% {
    transform: perspective(800px) rotateY(70deg);
  }
  100% {
    opacity: 0;
  }
}
@keyframes hiddenToRightElementAnimation {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
    right: -100vw;
  }
  100% {
    opacity: 0;
  }
}
@keyframes progressround {
  50% {
    transform: rotate(360deg);
  }
}
@keyframes progressroundSputnik {
  0% {
    left: -15px;
    background-color: red;
  }
  1% {
    background-color: none;
  }
  50% {
    left: 102px;
  }
  100% {
    left: -15px;
  }
}