
checkbox-xpwa input + label:before
{
  content: "";
  display: inline-block;
  vertical-align: text-top;
  width: 20px;
  height: 20px;
  background: white;
  border: 2px solid var(--color-theme);
  border-radius: 5px;
}
checkbox-xpwa input:checked + label:after
{
  content: "x";
  position: absolute;
  left: 2px;
  top: 2px;
  background: var(--gray);
  width: 20px;
  height: 20px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  color: var(--color-theme);
  line-height: 18px;
}


radio-xpwa,
checkbox-xpwa
{
  position: relative;
}
radio-xpwa input,
checkbox-xpwa input
{
  transition-duration: 0ms;
  opacity: 0;
  position: absolute;
  z-index: 99;
  top: 5px;
  left: 5px;
  transform: scale(1.5);
}
radio-xpwa input:hover,
checkbox-xpwa input:hover
{
  cursor: pointer;
}
radio-xpwa input + label,
checkbox-xpwa input + label
{
  position: relative;
  cursor: pointer;
  padding: 0;
  height: 20px;
  width: 20px;
}
radio-xpwa input + label:before
{
  content: "";
  display: inline-block;
  vertical-align: text-top;
  width: 20px;
  height: 20px;
  background: white;
  border: 2px solid var(--color-theme);
  border-radius: 50%;
}
radio-xpwa input:checked + label:after
{
  content: "x";
  position: absolute;
  left: 2px;
  top: 2px;
  background: var(--gray);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  color: var(--color-theme);
  line-height: 18px;
}

