@keyframes formAnimation 
{
  0% 
  {
    transform: rotate(0deg);
  }
  100%
  {
    transform: rotate(360deg);
  }
}
sign-form-xpwa
{
  position: absolute;
  width: 380px;
  height: 420px;
  background: #1c1c1c;
  border-radius: var(--radius);
  overflow: hidden;
  margin: 1rem;
}
sign-form-xpwa::before 
{
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 380px;
  height: 420px;
  background: 
    linear-gradient(
      0deg,
      transparent,
      transparent,
      #45f3ff,
      #45f3ff,
      #45f3ff
    );
  z-index: 1;
  transform-origin: bottom right;
  animation: formAnimation 7s linear infinite;
}
sign-form-xpwa::after
{
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 380px;
  height: 420px;
  background: linear-gradient(0deg, transparent, transparent, #3025fc, #3025fc, #3025fc);
  z-index: 1;
  transform-origin: bottom right;
  animation: formAnimation 7s linear infinite;
  animation-delay: 0.75s;
}
sign-form-xpwa form
{
  position: absolute;
  inset: 4px;
  background: #222;
  padding: 50px 40px;
  border-radius: var(--radius);
  z-index: 2;
  display: flex;
  flex-direction: column;
}
sign-form-xpwa form h2
{
  color: var(--color-theme);
  font-weight: 500;
  letter-spacing: 0.1rem; 
}
sign-form-xpwa form .sign-input
{
  position: relative;
  width: 300px;
  margin-top: 35px;
}
sign-form-xpwa form .sign-input input
{
  position: relative;
  width: 100%;
  padding: 20px 10px 10px;
  background: transparent;
  outline: none;
  border: none;
  box-shadow: none;
  color: var(--dark);
  font-size: 1em;
  letter-spacing: 0.05rem;
  transition: 0.5s;
  z-index: 10;
}
sign-form-xpwa form .sign-input span
{
  position: absolute;
  left: 0;
  padding: 20px 0 10px;
  pointer-events: none;
  color: #8f8f8f;
  font-size: 1rem;
  letter-spacing: 0.05rem;
  transition: 0.5s;
}
sign-form-xpwa form .sign-input input:valid ~ span,
sign-form-xpwa form .sign-input input:focus ~ span
{
  color: var(--color-theme);
  font-size: 0.75rem;
  transform: translateY(-35px);
}
sign-form-xpwa form .sign-input i
{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: var(--color-theme);
  border-radius: 4px;
  overflow: hidden;
  transition: 0.5s;
  pointer-events: none;
}
sign-form-xpwa form .sign-input input:valid ~ i,
sign-form-xpwa form .sign-input input:focus ~ i
{
  height: 43px;
}
sign-form-xpwa form .links
{
  display: flex;
  justify-content: space-between;
}
sign-form-xpwa form .links a
{
  margin: 10px 0;
  font-size: 0.75rem;
  color: #8f8f8f;
  text-decoration: none;
}
sign-form-xpwa form .links a:hover,
sign-form-xpwa form .links a:nth-child(2)
{
  color: var(--color-theme);
}
border-lines-xpwa
{
  position: absolute;
  top: 0;
  inset: 0;
}
border-lines-xpwa:before
{
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 380px;
  height: 420px;
  background:
    linear-gradient(
      0deg,
      transparent,
      transparent,
      #27ff40,
      #27ff40,
      #27ff40
    );
  z-index: 1;
  transform-origin: bottom right;
  animation: formAnimation 7s linear infinite;
  animation-delay: 1s;
}
border-lines-xpwa::after
{
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 380px;
  height: 420px;
  background:
    linear-gradient(
      0deg,
      transparent,
      transparent,
      #ff2770,
      #ff2770,
      #ff2770
    );
  z-index: 1;
  transform-origin: bottom right;
  animation: formAnimation 7s linear infinite;
  animation-delay: 2s;
}

