menu-xpwa {
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
    margin: var(--margin);
    background: var(--gray-gradient);
    width: 100%;
}
burger-xpwa {
    display: none;
    cursor: pointer;
}
burger-xpwa span {
    display: block;
    width: 25px;
    height: 3px;
    margin: 4px 0;
    border-radius: 7px;
    background: var(--main-theme);
}

@media (max-width: 1200px) {
    menu-xpwa {
        margin-top: 40px;
        flex-direction: column;
    }
    menu-xpwa > * {
        margin-bottom: 5px;
        width: 94%;
        display: none;
    }
    burger-xpwa {
        display: inline-block;
        cursor: pointer;
        position: absolute;
        top: -30px;
        left: 90%;
    }
}