menu-xpwa {
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
    margin: var(--margin);
    background: var(--gray-gradient);
    width: 100%;
}

.burger-icon {
    display: none;
    cursor: pointer;
}
.burger-icon span {
    display: block;
    width: 25px;
    height: 3px;
    margin: 4px 0;
    background: #000;
}

@media (max-width: 1200px) {
    menu-xpwa {
        flex-direction: column;
    }
    menu-xpwa > * {
        margin-bottom: 5px;
        width: 94%;
    }
    .burger-icon {
        display: inline-block;
        cursor: pointer;
    }
}