@media (max-width: 1200px) {
    top-xpwa {
        width: 30px;
        height: 30px;
    }

    content-xpwa {
        width: 96vw !important;
        left: 0.5vw !important;
    }

    nav-xpwa {
        width: 90vw !important;
    }
}