::-webkit-scrollbar {
    width: var(--width-scroll-bar);
}

::-webkit-scrollbar-thumb {
    background: var(--color-theme);
    border-radius: 3em;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-theme-dark);
    cursor: pointer;
}

::-webkit-scrollbar-button:vertical:start:decrement {
    opacity: 0;
}

::-webkit-scrollbar-button:vertical:end:increment {
    opacity: 0;
}

::-webkit-scrollbar-button:horizontal:start:decrement {
    opacity: 0;
}

::-webkit-scrollbar-button:horizontal:end:increment {
    opacity: 0;
}