slider-xpwa {
    position: relative;
    background-position: center center!important;
    background-size: cover!important;
    background-repeat: no-repeat!important;
    min-height: 400px!important;
    min-width: 100vw;
}
slider-xpwa img {
  display: none;
}
back-slide-xpwa, next-slide-xpwa {
    position: absolute;
    top: 200px;
    width: 50px;
    height: 50px;
}
back-slide-xpwa {
    left: 10px;
}
back-slide-xpwa:after {
    content: "\2190";
    color: red;
    font-size: 3rem;
}
next-slide-xpwa {
    right: 10px;
}
next-slide-xpwa:after {
    content: "\2192";
    color: red;
    font-size: 3rem;
}