tabs-x {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  min-height: 300px;
  max-height: 300px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  box-sizing: border-box;
  padding: 20px;
  background: rgba(62, 56, 56, 0.1);
  border: 0.480855px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(25.2449px);
  border-radius: 9.61711px;
  position: relative;
}

tab-content {
  display: none;
  position: absolute;
  left: 10px;
  top: 70px;
  min-width: 95%;
}