:root {
  --main-theme: #0140EB;
  --main-theme-light: #446bd6;
  --main-theme-dark: #0035c7;

  --green: rgb(6, 157, 6);
  --bg: #FFF;
  --white: #FFF;
  --black: black;
  --gray: #f4ecec;
  --gray-gradient: rgba(138, 170, 255, 0.1);

  --padding: 5px;
  --margin: 5px;
  --radius: 3px;
  --shadow: 0 0 12px rgba(0, 0, 0, 0.3);
  --width-scroll-bar: 5px;

  --z-nav: 9;
  --z-to-top: 88;
  --z-phone: 88;
  --z-header: 90;
  --z-stub: 998;
  
  --z-preloader: 999;
  --z-message: 999;
  --z-progress: 999;
  --progress-round: 1000;


  --height-header: 50px;
}