:root {
  --main-theme: red;
  --main-theme-light: rgb(249, 81, 81);
  --main-theme-dark: rgb(195, 1, 1);

  --white: white;
  --black: black;
  --gray: rgb(130, 128, 128);
  --gray-gradient: linear-gradient(90deg,#f5f5fa 80%,#ebebf0);


  --radius: 7px;
}