:root {
  --main-theme: #fffb00;
  --main-theme-light: #fcf946;
  --main-theme-dark: #dad601;

  --bg: #4d3d3d;
  --white: #222222;
  --black: black;
  --gray: #302e2e;
  --gray-gradient: linear-gradient(90deg,#222222 80%,#302e2e);

  --padding: 5px;
  --margin: 5px;
  --radius: 3px;
  --shadow: 0 0 12px rgba(0, 0, 0, 0.3);
  --width-scroll-bar: 5px;
}