@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url(variables.css);
@import url(animations.css);
@import url(scrollbar.css);
@import url(slider.css);
@import url(dots.css);
@import url(components.css);
@import url(mobile.css);


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition-duration: 0.5s;
  font-family: sans-serif;
  font-family: 'Bad Script', cursive!important;
  font-family: 'Montserrat', sans-serif!important;
  font-family: 'Ubuntu', sans-serif;
  scroll-behavior: smooth;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  width: 100vw;
  overflow-x: hidden;
  padding-right: var(--width-scroll-bar);
}
content-xpwa {
  display: block;
  position: relative;
  left: 0.5vw;
  top: 1vh;
  min-height: 90vh;
  min-width: 98vw;
  background: var(--gray-gradient);
  padding: var(--padding);
  border-radius: var(--radius);
}
footer-xpwa {
  display: block;
  background: var(--gray);
  min-width: 100vw;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: var(--white);
}
header-xpwa {
  display: flex;
  align-items: center;
  position: relative;
  left: 0;
  background: var(--gray-gradient);
  min-height: 50px;
  width: 100vw;
}
card-3d-xpwa {
  will-change: transform;
}
top-xpwa {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  line-height: 5rem;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background: var(--main-theme);
  border-radius: 50%;
  z-index: 999999;
  transition-duration: 0.5s;
}
top-xpwa:hover {
  transform: scale(1.2) rotateZ(360deg);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
top-xpwa:after {
  content: "\2191";
  transform: scaleX(0.7);
  margin-bottom: 10px;
  color: var(--white);
}
progress-round-xpwa {
  position: relative;
  z-index: 999;
  position: fixed;
  top: calc(50vh - 50px);
  left: calc(50vw - 50px);
  width: 100px;
  height: 100px;
  border: 2px solid var(--main-theme);
  border-radius: 100px;
  animation: progressround 2s infinite;
  box-shadow: 0 0 20px rgba(101, 141, 255, 0.1);
}
progress-round-xpwa > span {
  box-sizing: border-box;
  display: block;
  min-width: 10px;
  min-height: 10px;
  width: 10px;
  height: 10px;
  position: absolute;
  z-index: 99;
  border: 1px solid var(--main-theme);
  border-radius: 10px;
  left: -15px;
  top: 44px;
  animation: progressroundSputnik 3s infinite;
}
modal-xpwa {
  width: 60vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--white);
  border-radius: var(--radius);
  border-color: var(--border-color);
  box-shadow: var(--box-shadow);
  background: var(--white);
}
nav-xpwa {
  display: block;
  background: white;
  min-width: 20vw;
}
progress-bar-xpwa {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 5px;
  background: var(--main-theme-dark);
}
sidebar-xpwa {
  display: block;
  position: fixed;
  top: 0;
  left: 20vw;
  right: 0;
  min-height: 100vh;
  width: 80vw;
  background: var(--white);
  box-shadow: var(--shadow);
}
stub-xpwa {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  z-index: 999999999;
}
message-xpwa {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 300px;
  min-height: 70px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 12px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
menu-xpwa {
  display: flex;
  position: relative;
  justify-content: space-around;
  align-items: center;
  margin: var(--margin);
  background: var(--gray-gradient);
  width: 100%;
}
button-xpwa {
  color: var(--white);
  border-radius: var(--radius);
  padding: var(--padding) 15px;
  background: var(--main-theme);
  box-shadow: 0px 1px 3px 0px rgba(93, 100, 148, 0.20), 0px 4px 11px 0px rgba(37, 44, 97, 0.15)
}
button-xpwa:active {
  background: var(--main-theme);
  color: var(--white);
}
button-xpwa:hover {
  background: var(--main-theme-light);
  color: var(--white);
  cursor: pointer;
}
close-xpwa {
  position: absolute;
  top: 9px;
  right: 9px;
  width: 20px;
  font-size: 1.5rem;
  transform: rotate(45deg);
}
block-xpwa {
  display: block;
  background: var(--gray-gradient);
  width: 98vw;
  min-height: 100px;
  background: var(--white);
  padding: 10px var(--padding);
  margin: var(--margin);
  border-radius: var(--radius);
  box-shadow: var(--shadow);
}
close-xpwa:hover {
  cursor: pointer;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
}
tabs-xpwa {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  min-height: 300px;
  max-height: 300px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  box-sizing: border-box;
  padding: 20px;
  background: rgba(62, 56, 56, 0.1);
  border: 0.480855px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(25.2449px);
  border-radius: 9.61711px;
  position: relative;
}
tab-content {
  display: none;
  position: absolute;
  left: 10px;
  top: 70px;
  min-width: 95%;
}
