@import url(variables.css);
@import url(animations.css);

progress-round-xpwa {
  position: relative;
  z-index: 999;
  position: fixed;
  top: calc(50vh - 50px);
  left: calc(50vw - 50px);
  width: 100px;
  height: 100px;
  border: 2px solid var(--mainColor);
  border-radius: 100px;
  animation: progressround 2s infinite;
  box-shadow: 0 0 20px rgba(101, 141, 255, 0.1);
}
progress-round-xpwa > span {
  box-sizing: border-box;
  display: block;
  min-width: 10px;
  min-height: 10px;
  width: 10px;
  height: 10px;
  position: absolute;
  z-index: 99;
  border: 1px solid var(--mainColor);
  border-radius: 10px;
  left: -15px;
  top: 44px;
  animation: progressroundSputnik 3s infinite;
}
message-xpwa {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 300px;
}
progressbar-xpwa {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 5px;
  background: var(--mainColor);
}
.showElement {
  animation: showElementAnimation 0.3s linear;
}
.hiddenElement {
  animation: hiddenElementAnimation 0.3s linear;
}
close-xpwa {
  position: fixed;
  top: 9px;
  right: 9px;
  width: 20px;
  font-size: 1.5rem;
  transform: rotate(45deg);
}
close-xpwa:hover {
  cursor: pointer;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
}
tabs-xpwa {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  min-height: 300px;
  max-height: 300px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  box-sizing: border-box;
  padding: 20px;
  background: rgba(62, 56, 56, 0.1);
  border: 0.480855px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(25.2449px);
  border-radius: 9.61711px;
  position: relative;
}
tab-content {
  display: none;
  position: absolute;
  left: 10px;
  top: 70px;
  min-width: 95%;
}
/*************************************
              SLIDER
*************************************/
slider-xpwa {
  background-position: center center!important;
  background-size: contain!important;
  background-repeat: no-repeat!important;
  min-height: 400px!important;
  position: relative;
}
slider-xpwa img {
display: none;
}
.nextSlide, .backSlide {
width: 60px;
height: 100%;
position: absolute;
top: 0;
}
.nextSlide:hover {
cursor: pointer;
}
.backSlide:hover {
cursor: pointer;
}
.nextSlide {
right: 0;
}
.backSlide {
left: 0;
}