@import url(variables.css);
@import url(animations.css);

@import url(core/core.css);
@import url(decorative/decorative.css);
@import url(interactive/interactive.css);
@import url(messages/messages.css);
@import url(layouts/layouts.css);
@import url(navigation/navigation.css);
@import url(progress/progress.css);
@import url(sliders/sliders.css);

@import url(https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap);


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-family: 'Ubuntu', sans-serif;
  scroll-behavior: smooth;
  transition-duration: 200ms;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  width: 100vw;
  overflow-x: hidden;
  background: var(--white);
  color: var(--black);
  animation: showBody 0.2s linear; 
}

@keyframes showBody {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

options-x {
  display: none;
}

*[small] {
  transform: scale(0.8);
}

*[large] {
  transform: scale(1.2);
}

hr {
  border-color: var(--color-theme);
  margin: 1rem;
  width: 90%;
  opacity: 0.1;
  margin-left: 5%;
}