preloader-x
{
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: var(--z-preloader);
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(12px);
    animation: showPreloader 2s infinite;

}
preloader-x span
{
    width: 100px;
    height: 100px;
    border: 1px solid var(--color-theme);
    border-radius: 50%;
    animation: showPreloaderSpan 2s infinite;
}

@keyframes showPreloader {
    0% {
    backdrop-filter: blur(0);
    }
    50% {
    backdrop-filter: blur(12px);
    }
    100% {
    backdrop-filter: blur(0);
    }
}

@keyframes showPreloaderSpan {
    0% {
    transform: scale(1);
    box-shadow: 0 0 0;
    }
    50% {
    transform: scale(2);
    backdrop-filter: blur(0px);
    box-shadow: 0 0 0 10px var(--color-theme);
    }
    100% {
    transform: scale(1);
    backdrop-filter: blur(12px);
    box-shadow: 0 0 0;
    }
}