step-processing-x {
    display: inline-block;
    position: relative;
    width: 300px;
    height: 20px;
    margin: 20px auto;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
}

step-processing-x .line,
step-processing-x .indecator-line {
    position: absolute;
    top: 0;
    left: 0;
    height: 3px !important;
    margin-top: calc(11px - 3px);
    background-color: #ccc;
    border-radius: 10px;
}

step-processing-x .indecator-line {
    width: 33%;
    top: -8px;
    background: red;
    transition: width 0.5s ease-in-out;
}

step-processing-x .step {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ccc;
}

step-processing-x .step:hover {
    cursor: pointer;
}

step-processing-x .step.active {
    background-color: red;
}

step-processing-x .step.active+.line {
    background-color: red;
}


@media (max-width: 1200px) {

}